.cuerpo{
	background-color:#4c2cdb;
}

.f{
	margin-top: 20px;
}

.f2{
	margin-top: 1px;
	text-align: center;
}
.f1{
	margin-top:10px;
	margin-left: 30px;
}
.formu{
	margin-top: 40px;
	margin-right:500px; 
	margin-left:500px; 
	background-color: white;
	border-radius: 10px;
	padding:20px;
	border: 4px solid #ffffff;
	box-shadow: 2px 2px 4px;
}
.g{
	margin-top: 5px;
}
.title{
	color: white;
	text-align: center;
	margin-top: 100px;
	font-weight: 900;
	font-family: 'Comic Sans MS,Arial,Verdana';
}
